{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- profile details section -->
    <section id="task-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="task-header">
                {% if not profile.profile_picture %}
                <!-- default profile image (if the user does NOT have any)-->
                    <img class="profile-img" src="{% static 'images/default-profile.png' %}" alt='profile-image'/>
                {% else %}
                <!-- if the user has a profile image -->
                    <img class="profile-img" src="{{ profile.profile_picture }}" alt='profile-image'/>
                {% endif %}
                <!-- user full name (if any) -->
                {% if not full_name == 'None None' %}
                <h1>{{ full_name }}</h1>
                {% else %}
                <h1></h1>
                {% endif %}
                <!-- user username -->
                <p class="description">Username: {{ profile.username }}</p>
                <!-- user age -->
                {% if profile.age %}
                <p class="description">Age: {{ profile.age }}</p>
                {% endif %}
                <!-- user email -->
                <p class="description">Email: {{ profile.email }}</p>
                <!-- total price of all cars -->
                <p class="description">Tasks: {{ all_tasks.count }}</p>
                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="{% url 'edit-profile' %}" class="edit-button">Edit</a>
                    <a href="{% url 'delete-profile' %}" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}