{% extends 'base.html' %}

{% block content %}
    <!-- details section -->
    <section id="task-details">
        <h1>Details</h1>
        <div class="info-section">
            <div class="task-header">
                <!-- car model -->
                <p><span class="description">Title: {{ task.title }}</span></p>
                <!-- car year -->
                <p><span class="description">Description: {{ task.description }}</span></p>
                <!-- car price -->
                <p><span class="description">Created at: {{ task.created_at }}</span></p>
                <p><span class="description">Due date: {{ task.due_date }}</span></p>
                <p><span class="description">Priority: {{ task.priority }}</span></p>
                <p><span class="description">Category: {{ task.category }}</span></p>
                <div class="comment-text">
                    <a href="{% url 'add-comment' task.id %}">Add Comment</a>
                    <a href="{% url 'comments' task.id %}">All Comments</a>
                </div>
            </div>


            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'edit-task' pk=task.id %}" class="edit-button">Edit</a>
                <a href="{% url 'delete-task' pk=task.id %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}